.heading{
    
    background-color: black;
}
.details{
    
    background-color: blue;
}
.concentration{
    
    background-color: blue
}
.heading, .details, .concentration{
    text-align: center;
}
.concentration{
    list-style: none;
}
.about{
    
    background-color: blue;
}
.skills{
    
    background-color: blue;
}
.specialties{
    
    background-color: blue;
}
.about, .skills, .specialties{
    text-align: center;
}
.specialties{
    list-style: none;
}
*{
    color: red;
}